extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3

        include ../../partials/list-button-user.pug
        
        .row
            .col-12
                +box-head(`${infoRoomChat.title}`)

        .row(data-users-friend = user.id)
            each user in users
                .col-6(user-id = user.id)
                    div(class="box-users")
                        div(class="inner-avatar")
                            img(
                                src = user.avatar ? user.avatar : "/images/avatar.jpg"
                                alt = user.fullname
                            ) 
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullname}
                        div(
                            class="inner-status"
                            status=user.statusOnline
                        ) <i class="fa-solid fa-circle"></i>

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            if chat.user_id != user.id
                                div(class="inner-incoming" message-id=chat.id)
                                    .inner-name #{chat.infoUser.fullname}
                                    if(chat.content)
                                        .inner-content 
                                            | #{chat.content}
                                    if(chat.images)
                                        .inner-images 
                                            each image in chat.images 
                                                img(src=image)
                                    .message-options
                                        button(class="ellipsis-button")
                                            i.fa.fa-ellipsis-h
                                        .options-menu.hidden
                                            button(class="delete-button") Xóa
                            else
                                div(class="inner-outgoing" message-id=chat.id)
                                    if(chat.content)
                                        .inner-content 
                                            | #{chat.content}
                                    if(chat.images)
                                        .inner-images 
                                            each image in chat.images 
                                                img(src=image)
                                    .message-options
                                        button(class="ellipsis-button")
                                            i.fa.fa-ellipsis-h
                                        .options-menu.hidden
                                            button(class="delete-button") Xóa
                        div(class="inner-list-typing")

                    .inner-preview-images            
                        div(
                            class="custom-file-container" 
                            data-upload-id="uploadImage"
                        ) 
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )           
                            input(
                                type="text"
                                placeholder="Nhap noi dung..."
                                name="content"
                            )
                            label(class="button-image btn btn-light mx-2" for="file-upload-with-preview-uploadImage") <i class="fa-regular fa-image"></i>
                            span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>
                            button 
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")
block script
    script(type="module" src="/js/chat.js") 
    script(src="/js/users.js") 