extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Chat")

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            if chat.user_id != user.id
                                .inner-incoming
                                    .inner-name #{chat.infoUser.fullname}
                                    .inner-content 
                                        | #{chat.content}
                            else
                                .inner-outgoing
                                    .inner-content 
                                        | #{chat.content}
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )           
                            input(
                                type="text"
                                placeholder="Nhap noi dung..."
                                name="content"
                            ) 
                            span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>
                            button 
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")